{% extends '../layouts/base.html' %}
{% load static %}   

{% block title %}
   OnlyFlans| Acerca 
{% endblock %}
    

{% block content %}
    <div class="container-fluid mb-2">
        <h1>Nuestra historia</h1> 
    </div>
   
    <div class="card text-center">
        <div class="card-header bg-info-subtle">
          <h4>Somos una empresa familiar con diez años de historia. Nuestros flanes y cheesecakes se realizan con los mejores ingredientes, dedicación y con mucho cariño. Esperamos llevar alegría y deleite a sus mesas.</h4>
        </div>
        <div class="card-body">
          <img src="https://www.nueva-ciudad.com.ar/advf/imagenes/2015/10/56150da6d7243_800x512.jpg"  height="420px" width="500px" alt="Oreo-cheesecake">
    </div>
{% endblock %}